body {
    width: 350px;
    height: 500px;
    overflow: hidden;
}

.mdui-toolbar {
    height: 42px;
    line-height: 42px;
}

.scrolling-wrapper {
    margin-top: 46px;
    overflow: auto;
    height: 500px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

.mdui-btn.mini-button {
    min-width: 24px;
    height: 24px;
    width: 24px;
}