.group-switcher-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.group-switcher-popup {
    --group-count: 1;
    --current-group: 0;
    display: flex;
    flex-direction: column;
    height: 2.1em;
    overflow: hidden;
    transition: .2s;
    align-items: center;
    border-radius: 1em;
    width: auto;
}

.group-switcher-popup:hover {
    height: calc(var(--group-count) * 2.1em);
}

.group-switch-item {
    display: block;
    width: 100%;
    padding: 0.25em 7px;
    transform: translateY(calc(var(--current-group) * -100%));
    background: rgba(0,0,0,0.1);
    user-select: none;
    cursor: pointer;
    transition: .2s;
}
.group-switch-item.active {
    background: var(--MExtBtnClr);
    color: white;
}
.group-switch-item:hover:not(.active) {
    background: rgba(0,0,0,0.2);
}
.group-switcher-popup:hover .group-switch-item {
    transform: translateX(0);
}

a#rank {
    display: none;
}